In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import matplotlib
matplotlib.rcParams["figure.figsize"] = (20,10)

In [4]:
df1 = pd.read_csv("data.csv")
df1.head()

,id,price_tnd,price_eur,location,city,governorate,Area,pieces,room,bathroom,...,garden,concierge,beach_view,mountain_view,pool,elevator,furnished,equipped_kitchen,central_heating,air_conditioning
0,b9e1c759-d149-46e8-9765-d8c198a13ff0,NaN,NaN,Cité El Bassatine Ancien,Boumhel Bassatine,Ben Arous,NaN,27.0,8.0,NaN,...,0,0,0,0,0,0,0,0,0,0
1,863e62e5-0bfe-49f3-ad97-e0ae91be68e9,3250000.0,1007500.0,El Kantaoui,Hammam Sousse,Sousse,1000.0,26.0,16.0,14.0,...,0,1,1,0,0,1,1,1,1,1
2,0048e6da-9aec-4ebe-8ee1-1ad7cd0015e6,2000000.0,620000.0,Sousse Corniche,Sousse Ville,Sousse,932.0,24.0,24.0,10.0,...,0,0,0,0,0,0,1,1,1,1
3,032f818f-1b38-4d1a-a000-753e235ccf54,2000000.0,620000.0,Sousse Corniche,Sousse Ville,Sousse,932.0,24.0,24.0,NaN,...,0,0,0,0,0,0,1,1,1,1
4,2272576f-fb3b-4c82-8a0e-a00fe2e7c154,2000000.0,620000.0,Sousse Corniche,Sousse Ville,Sousse,932.0,24.0,24.0,10.0,...,0,0,0,0,0,0,1,1,1,1

In [5]:
df1.shape

(8129, 26)

In [7]:
df1.groupby('location')['location'].agg('count')

location
Abou El Kacem Chebbi      4
Aghir                    12
Ain Zaghouan Nord       144
Ain Zaghouan Sud         24
Ajim                      2
                       ...
Zaouit Mornag             1
Zarzis                    5
Zarzouna                  5
Zone Touristique         26
Zone touristique          3
Name: location, Length: 468, dtype: int64

In [10]:
df2 = df1.drop(['pool','elevator','furnished','governorate', 'price_tnd', 'city', 'latt', 'long', 'concierge', 'garden', 'pieces', 'id', 'elevator','air_conditioning', 'equipped_kitchen', 'furnished'], axis='columns')